// Base colors
$white : #fff;
$black : #000;

// Vue colors
$vueGreen : #42b883;
$vueBlue : #35495e;


// =============================================================================
// Dark with orangered
// =============================================================================
// $dark :      #082032;
// $lighter :   #2C394B;
// $secondary : #334756;
// $primary :   #FF4C29;


// =============================================================================
// Dark with green
// =============================================================================
// $dark :      #13005A;
// $lighter :   #00337C;
// $secondary : #1C82AD;
// $primary :   #03C988;


// =============================================================================
// Dark with purple
// =============================================================================
$dark :      #000000;
$lighter :   #3E065F;
$secondary : #700B97;
$primary :   #8E05C2;